################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MarsRoverAPIImageViewer/.vs/MarsRoverAPIImageViewer/v16
